@import url("https://use.typekit.net/pxc5lqp.css");
@import "tailwindcss";

body {
  background: #000000;
  opacity: 1;
  font-family: "Poppins";
}

main {
  background: transparent url("/asset/g-pic.png") 0 0 no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  opacity: 1;
}
